/* Global Fonts */
/*
  TODO:
  请一樊修改此处添加字体 
  适配Windows, Mac, Android, iOS
  尽量使用系统默认字体
  accent可以考虑使用自定字体
  可以参考网站 http://jimyuan.github.io/blog/2014/12/02/cn-web-font-guide.html
  */
:root {
  --ff-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, 
  z szsFira Sans, Droid Sans, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, sans-serif;
  --ff-accent: 'happyzcool', serif;
}

@font-face {
  font-family: 'happyzcool';
  src: url('zhankukuaileti2016xiudingban-2-webfont.woff2') format('woff2'),
  font-display: swap;
}

/* Global Font Sizes */
:root {
  --fs-200: 0.75rem;
  --fs-300: 1.25em;
  --fs-400: 1.5rem;
  --fs-500: 1.8125rem;
  --fs-600: 2.125rem;
  --fs-700: 3rem;
  --fs-800: 3.5rem;
  --fs-900: 4.5rem;
  --fs-primary: var(--fs-400);
  --fs-accent: var(--fs-700);
}

@media (max-width: 1200px) {
  :root {

  }
}

@media (max-width: 700px) {
  :root {

  }
}

